@charset "utf-8";

header {
    position: relative;
    z-index: 10;
    width: 100%;
    line-height: 137px;
}
h1 {
    width: 378/480 * 100%;
    max-width: 378px;
    margin: 0 auto;

    img {
        width: 100%;
    }
}