@charset "utf-8";

$main_base_width: 416;
$cell_height: 96px;
$sborder: 6px solid #fff;

#main {
    position: relative;
    z-index: 10;
    width: $main_base_width/480 * 100%;
    margin: 0 auto;
    color: #fff;
}
.time, .content {
    height: $cell_height;
}
.time {
    font: 24px/2.0 $font-family;
    text-align: center;
    width: 166/($main_base_width - 6) * 100%;
    border: 2px dashed #fff100;
}
.content {
    width: ($main_base_width - 166 - 6)/($main_base_width - 6) * 100% - 2.4%;
    height: $cell_height;
    font: 16px/1.5 $font-family;
    border: 2px dashed #fff100;
    border-left: none;

    p {
        padding: 6px 18px 0;
    }
}
.img {
    position: relative;
    padding: 65px 0 53px;
    margin-bottom: 42px;

    img {
        width: 100%;
    }
}
.lt, .rt, .lb, .rb {
    position: absolute;
    width: 22px;
    height: 22px;
}
.lt {
    border-right: $sborder;
    border-bottom: $sborder;
    left: 0;
    top: 12px;
}
.rt {
    border-left: $sborder;
    border-bottom: $sborder;
    right: 0;
    top: 12px;
}
.lb {
    border-right: $sborder;
    border-top: $sborder;
    left: 0;
    bottom: 0;
}
.rb {
    border-left: $sborder;
    border-top: $sborder;
    right: 0;
    bottom: 0;
}